@model Domain.Models.Party

@{
    ViewData["Title"] = "Details";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<h1>Details</h1>

<div>
    <h4>Party</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Establishment.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Establishment.Address)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Establishment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Establishment.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
